@media screen and (max-width: 1200px) {
  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }

  .card-img-container {
    height: 200px;
    overflow: visible;
  }

  .card-content {
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 1em 1em 8px 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;
  }

  .card-content-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-content-description {
    font-size: 0.9rem;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-rating {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }
  .app-bar__menu {
    justify-content: flex-end;
  }
  .app-bar__brand {
    order: -1;
  }

  @keyframes hamburgerOpen {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes hamburgerClose {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(0);
    }
  }

  /* Hamburger Button */
  .hamburger {
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 80%;
    height: 3px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: transform 0.3s ease;
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .bar:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .bar:nth-child(2) {
    transform: translate(-50%, -50%);
  }

  .bar:nth-child(3) {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(-50%, -50%) rotate(135deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  .nav-menu {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 50%;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 999;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #ccc;
  }

  .nav-item {
    position: relative;
  }
  .nav-link {
    font-size: 1rem;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    transition: color 0.3s ease;
    /* padding: 10px 15px; */
    display: inline-block;
    position: relative;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
  }
  .nav-link:hover {
    color: dodgerblue;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
    background-color: dodgerblue;
  }
  .nav-menu.active {
    display: block;
    opacity: 1;
    transform: translateY(0%);
  }

  .hero-carousel img {
    max-height: 300px;
  }
  /* .restaurant-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      padding: 20px;
    } */

  .card-content-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-content-description {
    font-size: 12px;
  }
}
