<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niel Resto</title>
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="skip-content">
      <a href="#maincontent" class="skip-link">Skip to content</a>
    </div>
    <header>
      <nav class="navbar" role="navigation">
        <div class="nav-branding">
          <a href="#">Niel Resto</a>
        </div>
        <ul class="nav-menu">
          <li class="nav-item"><a href="#header" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Favorite</a></li>
          <li class="nav-item">
            <a href="https://github.com/Nielsiahaan" class="nav-link">About</a>
          </li>
        </ul>
        <button class="hamburger" aria-label="Toggle Navigation Drawer">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
      </nav>
    </header>

    <div class="hero-carousel">
      <img
        src="./images/heros/hero-image_1.jpg"
        alt="Hero Image 1"
        class="hero-slide"
      />
      <img
        src="./images/heros/hero-image_2.jpg"
        alt="Hero Image 2"
        class="hero-slide"
      />
      <img
        src="./images/heros/hero-image_3.jpg"
        alt="Hero Image 3"
        class="hero-slide"
      />
      <img
        src="./images/heros/hero-image_4.jpg"
        alt="Hero Image 4"
        class="hero-slide"
      />
    </div>

    <main id="maincontent">
      <div id="restaurant-list" class="restaurant-list">
        <!-- Isi daftar restoran akan ditampilkan di sini -->
      </div>
    </main>
    <footer class="footer">
      <p>Copyright &copy; 2024 - Niel Resto</p>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
